

body {
background-color: #f4f0f0;
width: 100vw;
margin:0 auto0;
}

.heading {
    color: #4830a0; 
    /* margin-bottom: 20px;  */
    margin: 0 auto;
    font-size: 3rem;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
margin: auto;  
justify-content: space-evenly;
gap: 0px;
  background-color: #040404; 
    width: 80vw;
    height: 100vh;
    /* padding: 20px; */
    border-radius: 10px; 
}

.assignement {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}

button {
    width: 120px;
    border-radius: 10px; 
    background-color: #3f4d18; 
    color: #ffffff; 
    border: none; 
    font-size: 18px; 
    cursor: pointer;
    transition: background-color 0.3s; 
}

button:hover {
    background-color: #333333; 
}

a {
    text-decoration: none; 
    color: #ffffff; 
    display: flex; 
    align-items: center;
    justify-content: center; 
    height: 100%; 
} 
