*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent{
    width: 100vw;
    height: 100vh;
    border: solid black;
}
h1{
    width: 200px;
    height: 50px;;
    border: solid red;
}
.child{
    width: 20%;
    border: solid black;
}

